@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Lora:wght@400;600&family=Ruthie&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: "Lora", serif;
}

h1 {
  font-family: "Ruthie", cursive;
  font-size: 5em;
}

.coding-font {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  padding: 20px 0;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
  padding: 10px 0;
  overflow-wrap: break-word;
}

h5 {
  font-size: 2em;
}

h6 {
  font-size: 1.4em;
  padding-bottom: 10px;
}

p {
  padding: 10px 0;
}

a {
  text-decoration: underline;
}
@media (min-width: 768px) {
  a {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  a:hover {
    text-decoration: underline;
  }
}

.nav-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 0;
}
@media (min-width: 768px) {
  .nav-container {
    width: 203.2px;
  }
}
@media (min-width: 1200px) {
  .nav-container {
    width: 266.6666666667px;
  }
}

.content-container {
  position: relative;
  float: right;
  width: 100vw;
  padding-bottom: 76px;
}
@media (min-width: 768px) {
  .content-container {
    width: calc(100vw - 203.2px);
  }
}
@media (min-width: 1200px) {
  .content-container {
    width: calc(100vw - 266.6666666667px);
  }
}

.scroll-div {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  font-size: 2.5em;
  text-align: center;
}
.scroll-div i:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.5);
}
.scroll-div a, .scroll-div a:visited {
  color: grey;
}
.scroll-div a:hover {
  color: #000;
}

.sidebar-hamburger {
  margin: 20px;
  font-size: 3em;
  color: #fff;
  z-index: 10;
}

.sidebar-logo {
  display: none;
  text-align: center;
  padding-top: 30px;
}
.sidebar-logo a {
  color: #4b4b4b;
}
.sidebar-logo a:hover {
  color: #000;
  text-decoration: none;
}

nav {
  display: none;
  text-align: center;
}
nav a {
  color: grey;
}
nav a:hover {
  color: #000;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  padding: 20px 0;
}
nav li {
  padding: 10px;
}
@media (min-width: 1200px) {
  nav {
    font-size: 1.2em;
  }
}

.sidebar-socials {
  display: none;
  margin: 30px 0;
  font-size: 1.5em;
  justify-content: space-evenly;
}
.sidebar-socials a {
  color: grey;
}
.sidebar-socials a:hover {
  color: #000;
  text-decoration: none;
}

@media (min-width: 768px) {
  .sidebar-hamburger {
    display: none;
  }

  .sidebar-logo {
    display: block;
  }

  nav {
    display: block;
  }

  .sidebar-socials {
    display: flex;
  }
}
.hero-image {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://placeimg.com/1920/1080/tech");
  box-shadow: inset 0 0 300px black;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.hero-image a, .hero-image a:visited {
  color: #fff;
}
.hero-image a:hover {
  color: #fff;
  text-decoration: none;
}

.small-hero-image {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://placeimg.com/1920/400/tech");
  box-shadow: inset 0 0 300px black;
  background-position: center;
  height: 25vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #5a95cd;
  gap: 20px;
  padding: 20px;
}
@media (min-width: 576px) {
  .projects-container {
    flex-direction: row;
  }
}
.projects-container div {
  display: flex;
  color: #fff;
  height: 240px;
  min-width: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.projects-container div .child {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://placeimg.com/640/480/tech");
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .projects-container div .child {
    background-image: url("https://placeimg.com/640/480/tech");
  }
}
.projects-container div span {
  display: inline;
  color: #fff;
}
@media (min-width: 768px) {
  .projects-container div span {
    display: none;
  }
}
.projects-container div a, .projects-container div a:visited {
  color: white;
}
.projects-container div:hover .child {
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://placeimg.com/640/480/tech");
  background-size: cover;
  background-position: center;
}
.projects-container div:hover span {
  display: inline;
  color: #fff;
}
@media (min-width: 576px) {
  .projects-container div {
    flex: 1;
  }
}
@media (min-width: 1200px) {
  .projects-container div:nth-child(3) {
    flex-basis: 100%;
    flex-grow: 100%;
  }
}

.contact-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
}
.contact-container div {
  padding: 20px;
  background-color: #fff;
  border: 20px solid #5a95cd;
  margin-bottom: auto;
  box-shadow: 0 0 10px grey;
}
.contact-container div:first-child {
  width: 100%;
}
.contact-container div:last-child {
  display: none;
  width: 35%;
}
@media (min-width: 1016px) {
  .contact-container div:first-child {
    width: 65%;
  }
  .contact-container div:last-child {
    display: inline;
  }
}
.contact-container input, .contact-container textarea {
  padding: 10px;
  font-family: "Lora", serif;
  font-size: 0.9em;
  color: #4b4b4b;
  margin: 5px 0 20px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  width: 100%;
  outline-width: 0;
  background: #f1f1f1;
}
.contact-container input:hover, .contact-container textarea:hover {
  box-shadow: 0 0 5px #5BC0DE;
}
.contact-container input:focus, .contact-container textarea:focus {
  border: 1px solid #5a95cd;
  box-shadow: 0 0 5px #5a95cd;
}
.contact-container textarea {
  resize: vertical;
  height: 16em;
}
.contact-container .required {
  color: tomato;
}
.contact-container button {
  padding: 15px 20px;
  font-family: "Lora", serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #CCCCCC;
  background: #f1f1f1;
  border-radius: 3px;
  letter-spacing: 2px;
  color: #4b4b4b;
}
.contact-container button:hover {
  box-shadow: 0 0 5px #5BC0DE;
}
.contact-container button:focus {
  box-shadow: 0 0 5px #5a95cd;
  border: 1px solid #5a95cd;
}
.contact-container a {
  color: #000;
}

.about-container {
  padding: 20px 20px 0 20px;
}
.about-container div {
  padding: 20px;
  background-color: #fff;
  border: 20px solid #5a95cd;
  box-shadow: 0 0 10px grey;
  width: 100%;
}
.about-container a {
  color: grey;
}
.about-container a:hover {
  color: #000;
}
.about-container ul {
  padding: 0 20px;
}
.about-container li {
  padding: 0 0 8px;
}

/*# sourceMappingURL=style.css.map */
