@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lora:wght@400;600&family=Ruthie&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-family: "Lora", serif;
  background-color: #ededed;
}

iframe {
  width: 100%;
}

h1 {
  font-family: "Ruthie", cursive;
  font-size: 5em;
}

.coding-font {
  font-family: "Courier Prime", monospace;
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  padding: 20px 0;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
  padding: 10px 0;
  overflow-wrap: break-word;
}

h5 {
  font-size: 2em;
  color: #000;
}

h6 {
  font-size: 1.4em;
  padding-bottom: 10px;
}

p {
  padding: 10px 0;
}

a {
  text-decoration: underline;
}
@media (min-width: 768px) {
  a {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  a:hover {
    text-decoration: underline;
  }
}

.nav-container {
  transition: 0.6s;
  left: 0;
  position: fixed;
  background-color: #ededed;
  top: 0;
  height: 100vh;
  width: 0;
  z-index: 10;
  word-break: keep-all;
}
@media (min-width: 768px) {
  .nav-container {
    width: 195.8px;
  }
}
@media (min-width: 1200px) {
  .nav-container {
    width: 266.6666666667px;
  }
}

.nav-container.open {
  width: 266.6666666667px;
}
.nav-container.open .sidebar-logo {
  display: block;
}
.nav-container.open nav {
  display: block;
  font-size: 1.2em;
}
.nav-container.open .sidebar-socials {
  display: flex;
}

.content-container {
  position: relative;
  float: right;
  background-color: #fff;
  width: 100vw;
  padding-bottom: 76px;
}
@media (min-width: 768px) {
  .content-container {
    width: calc(100vw - 195.8px);
    margin-left: 195.8px;
  }
}
@media (min-width: 1200px) {
  .content-container {
    width: calc(100vw - 266.6666666667px);
    margin-left: 266.6666666667px;
  }
}

.scroll-div {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
  font-size: 2.5em;
  left: calc(50vw - 20px);
}
.scroll-div i:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.5);
}
.scroll-div a, .scroll-div a:visited {
  color: grey;
}
.scroll-div a:hover {
  color: #000;
}
@media (min-width: 768px) {
  .scroll-div {
    left: calc((100vw - 153.6px) / 2 - 20px);
  }
}
@media (min-width: 979px) {
  .scroll-div {
    left: calc((100vw - 195.8px) / 2 - 20px);
  }
}
@media (min-width: 1200px) {
  .scroll-div {
    left: calc((100vw - 266.6666666667px) / 2 - 20px);
  }
}

.sidebar-hamburger {
  width: 60px;
  height: 45px;
  position: fixed;
  right: 0;
  margin: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.sidebar-hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #e2ad7b;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.sidebar-hamburger span:nth-child(1) {
  top: 0px;
}

.sidebar-hamburger span:nth-child(2), .sidebar-hamburger span:nth-child(3) {
  top: 18px;
}

.sidebar-hamburger span:nth-child(4) {
  top: 36px;
}

.sidebar-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.sidebar-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sidebar-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.sidebar-logo {
  display: none;
  text-align: center;
  padding-top: 30px;
}
.sidebar-logo a {
  color: #4b4b4b;
}
.sidebar-logo a:hover {
  color: #000;
  text-decoration: none;
}

nav {
  display: none;
  text-align: center;
}
nav a {
  color: grey;
}
nav a:hover {
  color: #000;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  padding: 20px 0;
}
nav li {
  padding: 10px;
}
@media (min-width: 1200px) {
  nav {
    font-size: 1.2em;
  }
}

.sidebar-socials {
  display: none;
  margin: 30px auto;
  font-size: 1.5em;
  text-align: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.sidebar-socials a {
  color: grey;
}
.sidebar-socials a:hover {
  color: #000;
  text-decoration: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sidebar-socials span {
    padding: 0 22px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 1200px), (-ms-high-contrast: active) and (min-width: 1200px) {
  .sidebar-socials span {
    padding: 0 33px;
  }
}

@media (min-width: 768px) {
  .sidebar-hamburger {
    display: none;
  }

  .sidebar-logo {
    display: block;
  }

  nav {
    display: block;
  }

  .sidebar-socials {
    display: flex;
  }
}
.hero-image {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://placeimg.com/1920/1080/tech");
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.hero-image a, .hero-image a:visited {
  color: #fff;
}
.hero-image a:hover {
  color: #fff;
  text-decoration: none;
}

.small-hero-image {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://placeimg.com/1920/400/tech");
  box-shadow: inset 0 0 300px black;
  background-position: center;
  height: 25vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #7bb0e2;
  gap: 12px;
  padding: 12px;
}
@media (min-width: 576px) {
  .projects-container {
    flex-direction: row;
  }
}
.projects-container div {
  display: flex;
  color: #fff;
  height: 240px;
  min-width: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.projects-container div .child {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://placeimg.com/640/480/tech");
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .projects-container div .child {
    background-image: url("https://placeimg.com/640/480/tech");
  }
}
.projects-container div .netmatters-example {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/netmatters.png");
  background-size: cover;
  text-decoration: none;
}
@media (min-width: 768px) {
  .projects-container div .netmatters-example {
    background-image: url("../images/netmatters.png");
  }
}
.projects-container div .netmatters-example div {
  padding: 0 15%;
}
.projects-container div .netmatters-example div strong {
  display: block;
  margin-bottom: 8px;
}
.projects-container div .netmatters-example:hover {
  cursor: alias;
}
.projects-container div .netmatters-example:hover span {
  display: inline;
  color: #fff;
}
@media (min-width: 768px) {
  .projects-container div .netmatters-example:hover {
    transition: 0.8s ease-in-out;
    transform: scale(1.1);
    box-shadow: inset 0 0 0 800px rgba(0, 0, 0, 0.6);
    background: url("../images/netmatters.png");
    background-size: cover;
  }
}
.projects-container div .togglemenu-example {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/togglemenu.png");
  background-size: cover;
  text-decoration: none;
}
@media (min-width: 768px) {
  .projects-container div .togglemenu-example {
    background-image: url("../images/togglemenu.png");
  }
}
.projects-container div .togglemenu-example div {
  padding: 0 15%;
}
.projects-container div .togglemenu-example div strong {
  display: block;
  margin-bottom: 8px;
}
.projects-container div .togglemenu-example:hover {
  cursor: alias;
}
.projects-container div .togglemenu-example:hover span {
  display: inline;
  color: #fff;
}
@media (min-width: 768px) {
  .projects-container div .togglemenu-example:hover {
    transition: 0.8s ease-in-out;
    transform: scale(1.1);
    box-shadow: inset 0 0 0 800px rgba(0, 0, 0, 0.6);
    background: url("../images/togglemenu.png");
    background-size: cover;
  }
}
.projects-container div span {
  display: inline;
  color: #fff;
}
@media (min-width: 768px) {
  .projects-container div span {
    display: none;
  }
}
.projects-container div a, .projects-container div a:visited {
  color: white;
}
.projects-container div button {
  padding: 10px 20px;
  margin: 10px;
  font-family: "Courier Prime", monospace;
  font-size: 1.2em;
  cursor: pointer;
  color: black;
}
@media (min-width: 576px) {
  .projects-container div {
    flex: 1;
  }
}
@media (min-width: 1200px) {
  .projects-container div:nth-child(3) {
    flex-basis: 100%;
    flex-grow: 100%;
  }
}

.contact-container {
  display: flex;
  gap: 12px;
  padding: 12px;
  background-color: #fff;
  font-size: 0.9em;
  color: #4b4b4b;
}
.contact-container .fa-phone {
  color: green;
}
.contact-container div {
  padding: 12px;
  background-color: #fff;
  border: 12px solid #7bb0e2;
  margin-bottom: auto;
  box-shadow: 0 0 10px grey;
}
.contact-container div:first-child {
  width: 100%;
}
.contact-container div:last-child {
  display: none;
  width: 35%;
}
@media (min-width: 979px) {
  .contact-container div:first-child {
    width: 65%;
  }
  .contact-container div:last-child {
    display: inline;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .contact-container div {
    margin: 0 6px;
  }
}
.contact-container ::placeholder {
  font-family: "Lora", serif;
}
.contact-container input, .contact-container textarea {
  padding: 10px;
  font-family: "Courier Prime", monospace;
  font-size: 1em;
  color: #4b4b4b;
  margin: 5px 0 20px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  width: 100%;
  outline-width: 0;
  background: #ededed;
}
.contact-container input:hover, .contact-container textarea:hover {
  box-shadow: 0 0 5px #90bde7;
}
.contact-container input:focus, .contact-container textarea:focus {
  border: 1px solid #7bb0e2;
  box-shadow: 0 0 5px #7bb0e2;
}
.contact-container #phone-number::placeholder, .contact-container #email-subject::placeholder {
  color: silver;
}
.contact-container textarea {
  resize: vertical;
  height: 16em;
}
.contact-container .required {
  color: tomato;
}
.contact-container button {
  padding: 15px 20px;
  font-family: "Lora", serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #CCCCCC;
  background: #ededed;
  border-radius: 3px;
  letter-spacing: 2px;
  color: #4b4b4b;
}
.contact-container button:hover {
  box-shadow: 0 0 5px #90bde7;
}
.contact-container button:focus {
  box-shadow: 0 0 5px #7bb0e2;
  border: 1px solid #7bb0e2;
}
.contact-container a {
  color: #000;
}

.about-container {
  padding: 12px 12px 0 12px;
}
.about-container div {
  padding: 12px;
  background-color: #fff;
  border: 12px solid #7bb0e2;
  box-shadow: 0 0 10px grey;
  width: 100%;
}
.about-container a {
  color: grey;
}
.about-container a:hover {
  color: #000;
}

.half-container {
  display: block;
  padding: 12px 12px 0px 12px;
  gap: 12px;
}
@media (min-width: 979px) {
  .half-container {
    display: flex;
    padding: 12px;
  }
}
.half-container div {
  padding: 12px;
  background-color: #fff;
  border: 12px solid #7bb0e2;
  box-shadow: 0 0 10px grey;
  width: 100%;
  margin-bottom: 12px;
  overflow-wrap: break-word;
}
@media (min-width: 979px) {
  .half-container div {
    margin-bottom: auto;
  }
}
.half-container a {
  color: grey;
}
.half-container a:hover {
  color: #000;
}
.half-container ul {
  padding: 0 20px;
}
.half-container li {
  padding: 0 0 8px;
}

/*# sourceMappingURL=style.css.map */
