.hero-image {
    display: flex;
    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://placeimg.com/1920/1080/tech');
    box-shadow: inset 0 0 300px rgba(0,0,0,1);
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
}
.small-hero-image {
    display: flex;
    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://placeimg.com/1920/400/tech');
    box-shadow: inset 0 0 300px rgba(0,0,0,1);
    background-position: center;
    height: 25vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $background;
    gap: 20px;
    padding: 20px;
    @media (min-width: $small-break) {
        flex-direction: row;
    }
    div {
        display: flex;
        color: $white;
        height: 240px;
        min-width: 240px;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        .child {
            width: 100%;
            height: 100%;
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://placeimg.com/640/480/tech');
            @media (min-width: $medium-break) {
                background-image: url('https://placeimg.com/640/480/tech');
            }
            background-size: cover;
            background-position: center;
        }
        span {
            display: inline;
            color: $white;
            @media (min-width: $medium-break) {
                display: none;
            }
        }
        a, a:visited {
            color: white;
        }
        &:hover {
            .child {
                transition: .5s ease-in-out;
                transform: scale(1.2);
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://placeimg.com/640/480/tech');
                background-size: cover;
                background-position: center;
            }
            span {
                display: inline;
                color: $white;
            }
        }
        @media (min-width: $small-break) {
            flex: 1;
        }
        @media (min-width: $xl-break) {
            &:nth-child(3) {
                flex-basis: 100%;
                flex-grow: 100%;
            }
        }
    }
}
.contact-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: $white;
    div {
        padding: 20px;
        background-color: $white;
        border: 20px solid $background;
        margin-bottom: auto;
        box-shadow: 0 0 10px $box-shadow;
        &:first-child {
            width: 100%;
        }
        &:last-child {
            display: none;
            width: 35%;
        }
        @media (min-width: $large-break) {
            &:first-child {
                width: 65%;
            }
            &:last-child {
                display: inline;
            }
        }
    }
    input, textarea {
        padding: 10px;
        font-family: 'Lora', serif;
        font-size: 0.9em;
        color: $form-colour;
        margin: 5px 0 20px;
        border: 1px solid $form-border;
        border-radius: 3px;
        width: 100%;
        outline-width: 0;
        background: $form-background;
        &:hover {
            box-shadow: 0 0 5px $form-highlight;
        }
        &:focus {
            border: 1px solid $background;
            box-shadow: 0 0 5px $background;
        }
    }
    textarea {
        resize: vertical;
        height: 12em;
    }
    .required {
        color: $req-red;
    }
    button {
        padding: 15px 20px;
        font-family: 'Lora', serif;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 600;
        border: 1px solid $form-border;
        background: $form-background;
        border-radius: 3px;
        letter-spacing: 2px;
        color: $form-colour;
        &:hover {
            box-shadow: 0 0 5px $form-highlight;
        }
        &:focus {
            box-shadow: 0 0 5px $background;
            border: 1px solid $background;
        }
    }
}

.about-container {
    padding: 20px 20px 0 20px;
    div {
        padding: 20px;
        background-color: $white;
        border: 20px solid $background;
        box-shadow: 0 0 10px $box-shadow;
        width: 100%;
    }
}