.sidebar-hamburger {
    margin: 20px;
    font-size: 3em;
    color: $form-background;
}
.sidebar-logo {
    a {
        color: $form-colour;
    }
    a:hover {
        color: $black;
        text-decoration: none;
    }
    display: none;
    text-align: center;
    padding-top: 30px;
}
nav {
    a {
        color: $box-shadow;
    }
    a:hover {
        color: $black;
        text-decoration: none;
    }
    display: none;
    text-align: center;
    ul {
        list-style-type: none;
        padding: 20px 0;
    }
    li {
        padding: 10px;
    }
    @media (min-width: $xl-break) {
        font-size: 1.2em;
    }
}
.sidebar-socials {
    a {
        color: $box-shadow;
    }
    a:hover {
        color: $black;
        text-decoration: none;
    }
    display: none;
    margin: 30px 0;
    font-size: 1.5em;
    text-align: center;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { // IE fix
        span {
            padding: 0 22px;
        }
        @media (min-width: $xl-break) {
            span {
                padding: 0 33px;
            }
        }
    }
    justify-content: space-evenly;
}

@media (min-width: $medium-break) {
    .sidebar-hamburger {
        display: none;
    }
    .sidebar-logo {
        display: block;
    }
    nav {
        display: block;
    }
    .sidebar-socials {
        display: flex;
    }
}