.sidebar-hamburger {
    width: 60px;
    height: 45px;
    position: fixed;
    right: 0;
    margin: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    @media (min-width: $small-break) {
        margin: 30px;
    }
}

.sidebar-hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: complement($background);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.sidebar-hamburger span:nth-child(1) {
    top: 0px;
}
  
.sidebar-hamburger span:nth-child(2), .sidebar-hamburger span:nth-child(3) {
    top: 18px;
}
  
.sidebar-hamburger span:nth-child(4) {
    top: 36px;
}
  
.sidebar-hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
.sidebar-hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.sidebar-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
.sidebar-hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.sidebar-logo {
    a {
        color: $form-colour;
    }
    a:hover {
        color: $black;
        text-decoration: none;
    }
    display: none;
    text-align: center;
    padding-top: 30px;
}
nav {
    a {
        color: $box-shadow;
    }
    a:hover {
        color: $black;
        text-decoration: none;
    }
    display: none; 
    text-align: center;
    ul {
        list-style-type: none;
        padding: 20px 0;
    }
    li {
        padding: 10px;
    }
    @media (min-width: $xl-break) {
        font-size: 1.2em;
    }
}
.sidebar-socials {
    a {
        color: $box-shadow;
    }
    a:hover {
        color: $black;
        text-decoration: none;
    }
    display: none;
    margin: 30px auto;
    font-size: 1.5em;
    text-align: center;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { // IE fix
        span {
            padding: 0 22px;
        }
        @media (min-width: $xl-break) {
            span {
                padding: 0 33px;
            }
        }
    }
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (min-width: $medium-break) {
    .sidebar-hamburger {
        display: none;
    }
    .sidebar-logo {
        display: block;
    }
    nav {
        display: block;
    }
    .sidebar-socials {
        display: flex;
    }
}