//Breakpoints
$small-break: 576px;
$medium-break: 768px;
$large-break: 992px;
$xl-break: 1200px;

//Colours
$white: #fff;
$background: rgb(90, 149, 205);

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ruthie&display=swap');