//Breakpoints
$small-break: 576px;
$medium-break: 768px;
$large-break: 979px;
$xl-break: 1200px;

//Layout
$gap-size: 12px;

//Colours
$white: #fff;
$black: #000;
$background: rgb(123, 176, 226);
$box-shadow: grey;
$req-red: tomato;
$form-highlight: lighten($background, 5%);
$form-border: #CCCCCC;
$form-background: #ededed;
$form-colour: rgb(75, 75, 75);

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lora:wght@400;600&family=Ruthie&display=swap');